<div class="row" id="barList">
  {{#each bars}}
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 thumbnail">
    <h1>{{name}}</h1>
    <a href={{url}} target="_blank">
      <img src={{image_url}} alt={{id}} >
    </a>
      <p>{{snippet_text}}</p>   
    <img src={{rating_img_url_small}}>
    <form action="/user/going" method="POST">
    <button type="submit" class="btn btn-default going">I'm Going tonight!</button>
    </form>
  </div>
  {{/each}}
</div>